<template>
    <div>
      <!--Article page -->
      <section v-for="cat of post.data.category" :key="cat.id">
            <!--article is centred in the page -->
        <div class="center">
              <!--Article id retrieved to be displayed -->
          <div v-for="art of cat.article" :key="art.id">
                <!-- only if its the article selected will it be displayed-->
          <article class='thispage' v-if="art.id == id">
                <!--title, article, image, author, date and then the article body, sub and subsub body -->
            <h1 class='read'>{{art.title}}</h1>
                <div class='da'>
                    <img :src="art.image" :alt="art.imgalt">
                    <div>
                        <h3 class="author">Author: {{art.author}}</h3>
                        <p class='date'>Date Published: {{art.date}}</p>
                    </div>
               </div>
            <p>{{art.body}}</p>
            <div v-for="sub of art.sub" :key="sub.id">
            <h2>{{sub.title}}</h2>
            <p>{{sub.body}}</p>
            <div v-for="subsub of sub.subsub" :key="subsub.id">
              <h3>{{subsub.title}}</h3>
              <p>{{subsub.body}}</p>
            </div>

            </div>
          </article>
        </div>
        </div>
       
     
      </section>
  
    </div>
</template>

<script>
//import axios
import axios from "axios"
export default {
       name: 'articles',
       //props to get id from anArticle function
       props: ['id'],
       //get id from selected article
       methods: {
        anArticle(id) {
          this.identity = this.$router.get(id)
        }
    },

    //variables for the post and 
        data() {
        return {
        post: "",
        identity: ""
        }
},
//axios request
    async created() {
     
    try {
     const response = await axios.get("../../blog.json")
     this.post = response
     console.log(this.post)
     var i;
     for(i=0;i<this.post.length;i++) {
       console.log("testing" + this.post.title)
     }
   
 
   } catch(e) {
      console.error(e);
    }
   
  
  }
  
}
</script>

<style>
/*paged centered*/ 
.center {
  display: flex;
  justify-content: center;
}

/*max width set for lager screens*/ 
.thispage {
  margin: 2rem;
  max-width: 680px;
  justify-content: center;

}
/*article*/ 
.read {
    font-family: 'Playfair Display', serif;
     text-decoration: none;
     color: rgb(16, 55, 82);
     max-width: 100%;
     height: auto;
     
}
/*image styled to not be oversized*/ 
.thispage img {
  margin: 1rem;
  place-self: center;
  grid-column-start: 1;
  max-width: 80vw;
  height: auto;
}
/*text spacing*/ 
.thispage h1 {
  font-size: 1.5em;
  letter-spacing: 0;
  word-spacing: .24em;
}

/*grid for article*/ 
.da {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));

}
/*text spacing for h2*/ 
.thispage h2{
font-family: 'Playfair Display', serif;
     text-decoration: none;
     font-size: 1.5rem;
     color: rgb(16, 55, 82);
}

/*text spacing*/ 
.thispage h3{
     font-family: 'Playfair Display', serif;
     text-decoration: none;
     font-size: 1.2rem;
     color: rgb(16, 55, 82);
      margin: 1rem;
      word-spacing: .192em;
      letter-spacing: 0;
}

.date {
  text-decoration: underline;
  display: inline-block;

}
/*text spacing*/ 
.thispage p {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  grid-column-start: 1;
  grid-column-end: 3;
  line-height: 1.5;
  margin-bottom: 1rem;
  letter-spacing: .06rem;
  word-spacing: 0rem;


}


</style>