<template>
    <div class='home'>
      <!-- home class-->
         <!--things to do -->
       <h1 class="things">Things to do...</h1>
        <!-- get category-->
        <section  v-for="cat of info.data.category" :key="cat.id">
             <!-- if things to do then display-->
          <div class='grid-container' v-if="cat.name == 'things'">
               <!-- loop through articles-->
          <article  class='article' v-for="art of cat.article" :key="art.id">
               <!-- @click function for article-->
              <div @click="anArticle(art.id)">
                   <!--img from json -->
           <img :src="art.image" :alt="art.imgalt">
            <div  class='text' >
                 <!-- get title and short-->
               <h2>{{art.title}}</h2>
              <p>{{art.short}}</p>
            </div>
                </div>
          </article>
          </div>
          </section> 
    </div>
</template>

<script>
import axios from "axios"
export default {
    name: 'ft',
    methods: {
      /* click on article display article*/
        anArticle(id) {
            this.$router.push('/article/' + id)
        }
    },
    /*variables */
    data() {
        return {
        info : ""
}
},

/* call json folder*/
   async created() {
     
    try {
     const response = await axios.get("../../blog.json")
     this.info = response
     console.log(this.info)
   } catch(e) {
      console.error(e);
    }
  }
}
</script>

<style>
/*styling in home and app*/ 
</style>