<template>
    <div class='home'>
         <!--University hacks,
      if uh category then displays articles.
      the articles are clicked on using @click and anArticle function-->
        <h1>University Hacks</h1>
             <section  v-for="cat of info.data.category" :key="cat.id">
          <div class='grid-container' v-if="cat.name == 'uh'">
          <article  class='article' v-for="art of cat.article" :key="art.id">
             <div @click="anArticle(art.id)">
           <img :src="art.image" :alt="art.imgalt">
            <div  class='text' >
               <h2>{{art.title}}</h2>
              <p>{{art.short}}</p>
            </div>
                </div>
          </article>
          </div>
          </section> 
    </div>
</template>

<script>
//import axios
import axios from "axios"
export default {
    name: 'uh',
    //click an article push id
    methods: {
        anArticle(id) {
            this.$router.push('/article/' + id)
        }
    },
    //variables
    data() {
        return {
        info : ""
}
},

//data called from json using axios
   async created() {
     
    try {
     const response = await axios.get("../../blog.json")
     this.info = response
     console.log(this.info)
   } catch(e) {
      console.error(e);
    }
  }
}
</script>

<style>
/*styling in home and app vue*/ 
</style>